
<div class="container bg-primary text-white mt-4">
  <h1 class="text-end p-4">To-Do App!</h1>
  <h6 class="text-end px-4 ">Add New To-Do</h6>
  <div class="row justify-content-md-center px-4">
    <div class="col col-lg-12">
      <div class="input">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Todo"
          aria-label="REnter Todo"
          aria-describedby="basic-addon2"
          [(ngModel)]="newTodo"
        />
        <br>
        <div class="input text-end">
          <button
            class="btn btn-primary border border-white mb-3"
            style="color: white"
            type="button"
            (click)="saveTodo()"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container col-4 mt-5">
  <table class="table table-striped mt-5">
    <tbody>
      <tr *ngFor="let todo of todos; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td class="{{ !todo.isCompleted ? 'done' : '' }}" (click)="done(i)">
          {{ todo.name }}
        </td>
        <td style="color: red; font-weight: bold;" class="text-end" (click)="remove(i)">
          <button class="btn btn-secondary border border-dark p-0">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

